[Unit]
Description=DHIS 2
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User={{dhis_user}}
Group={{deploy_group}}
WorkingDirectory=/home/{{dhis_user}}/{{dhis_user}}/bin
ExecStart=/home/{{dhis_user}}/{{dhis_user}}/bin/startup.sh
ExecStop=/home/{{dhis_user}}/{{dhis_user}}/bin/shutdown.sh
Restart=always

[Install]
WantedBy=multi-user.target
