[Unit]
Description=DHIS 2
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User={{test_dhis_user}}
Group={{deploy_group}}
WorkingDirectory=/home/{{test_dhis_user}}/{{test_dhis_user}}/bin
ExecStart=/home/{{test_dhis_user}}/{{test_dhis_user}}/bin/startup.sh
ExecStop=/home/{{test_dhis_user}}/{{test_dhis_user}}/bin/shutdown.sh
Restart=always

[Install]
WantedBy=multi-user.target
